/*layout*/
html, body{height: 100%;}
body{background-color: #f9f9f9; font-family: 'Noto Sans KR', sans-serif; color: #3f3f44;}
.container {width: 1200px; margin: 0 auto;}
.content-wrap {padding: 10px; display: flex;align-items: center;justify-content: space-around; height: 942px;}
.list-container { width: 32%;; height: 100%; }
.list-item-wrap {padding: 10px; background-color: #ececec; border-radius:4px;}
.list-input-area {margin-top: 3px; display: none;}
.list-controll-wrap {margin-top: 3px;}


/*element styling*/
.list-title {font-size: 16px; font-weight: 500;margin-bottom: 10px; height: 24px;}
.list-item {background-color: #fff; border-radius: 4px; border-bottom: 1px solid rgba(0, 0, 0, 0.3); margin-top: 3px;}
.list-item button {display: block; padding: 8px; font-size: 15px; font-weight: 300; color: #3f3f44;}
.add-list {color: #3f3f44; font-size: 13px; padding: 6px; display: inline-block; border-radius:4px; margin: 5px 0;}
.txt-area {display: block; border-radius: 4px; border-bottom:  1px solid rgba(0, 0, 0, 0.3); width: 100%; box-sizing: border-box; padding: 8px; font-size: 15px; font-weight: 300; color: #3f3f44; margin-top: 3px; background-color: #ffffff;}
.submit-btn {font-size: 15px; border: 0; border-radius: 4px; padding: 10px 14px; background-color: #79d70f; font-weight: 400; color: #ffffff;}
.content-cancle {color: #3f3f44; margin-left: 6px;}
.input-title {font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif; color: #3f3f44; height: 24px; display: none; vertical-align: top; background-color: #fff; padding-left: 8px; border-radius: 4px; border-bottom: 1px solid rgba(0, 0, 0, 0.3); width: 100%; box-sizing: border-box;}